<?xml version="1.0" encoding="UTF-8"?>


<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<!--
	Just for develop

    <debug />-->

    <beans:bean id="encoder" class="com.jiajiaohello.support.auth.PasswordEncoder"/>

    <global-method-security pre-post-annotations="enabled" />

    <authentication-manager id="userAuthenticationManager">
        <authentication-provider user-service-ref="userUserDetailsService">
            <password-encoder ref="encoder" />
        </authentication-provider>
    </authentication-manager>

    <authentication-manager id="teacherAuthenticationManager">
        <authentication-provider user-service-ref="teacherUserDetailsService">
            <password-encoder ref="encoder" />
        </authentication-provider>
    </authentication-manager>

    <authentication-manager id="managerAuthenticationManager">
        <authentication-provider user-service-ref="managerUserDetailsService">
            <password-encoder ref="encoder" />
        </authentication-provider>
    </authentication-manager>

    <http pattern="/" security="none"/>
    <http pattern="/public/**" security="none"/>
    <http use-expressions="true" auto-config="true" pattern="/teacher/**" authentication-manager-ref="teacherAuthenticationManager">
        <intercept-url pattern="/teacher/**" access="hasRole('ROLE_TEACHER')"/>
        <form-login default-target-url="/teacher"
                    login-page="/auth/login/teacher"
                    username-parameter="username"
                    password-parameter="password"
                    authentication-failure-url="/auth/login/teacher?error=true"
                    login-processing-url="/teacher/j_spring_security_check"
                    always-use-default-target="true"
                />
        <logout logout-url="/teacher/j_spring_security_logout" logout-success-url="/" delete-cookies="JSESSIONID"/>
        <remember-me key="jiajiaohello_teacher" user-service-ref="teacherUserDetailsService" />
    </http>

    <http use-expressions="true" auto-config="true" pattern="/admin/**" authentication-manager-ref="managerAuthenticationManager">
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <form-login default-target-url="/admin"
                    login-page="/auth/login/admin"
                    username-parameter="username"
                    password-parameter="password"
                    authentication-failure-url="/auth/login/admin?error=true"
                    login-processing-url="/admin/j_spring_security_check"
                />
        <logout logout-success-url="/auth/login/admin" delete-cookies="JSESSIONID"/>
        <remember-me key="jiajiaohello_manager" user-service-ref="managerUserDetailsService" />
    </http>

    <http use-expressions="true" auto-config="true" pattern="/user/**" authentication-manager-ref="userAuthenticationManager">
        <intercept-url pattern="/user/**" access="hasRole('ROLE_USER')"/>
        <form-login default-target-url="/"
                    login-page="/auth/login/user"
                    username-parameter="username"
                    password-parameter="password"
                    authentication-failure-url="/auth/login/user?error=true"
                    login-processing-url="/user/j_spring_security_check"
                />
        <logout logout-success-url="/user/j_spring_security_logout" logout-url="/" delete-cookies="JSESSIONID"/>
        <remember-me key="jiajiaohello_user" user-service-ref="userUserDetailsService" />
    </http>
</beans:beans>
